<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}/assets/css/style.css">
    <link rel="stylesheet" href="{{root}}/assets/css/swiper.min.css">
</head>
<body>
{{> header}}
{{> banner}}
{{> reserve}}
{{> content}}
{{> programs}}
{{> about}}
{{> service}}
{{> specials}}
{{> body}}
{{> footer}}
{{> footer-scripts}}
<br><br>
</body>
</html>
