.about {
  &::before {
    content: '';
    position: absolute;
    background: url(/assets/images/svg/pattern-side__gray.svg);
    background-size: 160%;
    background-position: center;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 300px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    border-bottom: $border;
  }
  & .container {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
    background: #ffffff;
    border-bottom: $border;
  }
  &-block {
    width: 50%;
    z-index: 2;
    &__title {
      color: #080808;
      font-size: 48px;
      font-weight: 300;
      line-height: 60px;
    }
  }
  &-slider {
    &__item {
      float: left;
      width: 800px;
      height: 100%;
    }
    &__arrows {
      display: flex;
      justify-content: space-between;
      height: 105px;
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
        width: 160px;
        height: 100%;
        cursor: pointer;
        outline: none;
        & svg {
          width: 71px;
          stroke: #000000;
        }
        &.left {
          & span {
            order: 1;
          }
          & svg {
            transform: rotate(180deg);
            order: 0;
          }
        }
      }
    }
  }
  &-list {
    width: 494px;
    height: 295px;
    color: #080808;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    list-style-image: url(/assets/images/list-icon.png);
    &__item {
      margin-bottom: 10px;
    }
  }
}